<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment01_layout</title>
    <link rel="stylesheet" href="assets/style.css">

</head>
<body>
    <section>
        <nav>
            <div>
                <nav></nav>
            </div>
        </nav>
    </section>
    <section>
        <nav>
            <div>
                <nav></nav>
            </div>
        </nav>
    </section>
    <section>
        <nav>
            <div>
                <nav></nav>
            </div>
        </nav>
    </section>
    <section>
        <nav>
            <div>
                <nav></nav>
            </div>
        </nav>
    </section>
    <aside></aside>
    <aside></aside>
    <aside></aside>
    <aside></aside>
    <nav></nav>
    <div></div>
    <nav></nav>
    <main></main>
</body>
</html>