

div {
    position: absolute;
    border: 3px solid #9932cc;
    width: 2px;
    height: 2px;
    margin: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: 100%;
    animation: animation 2s infinite;
}

@keyframes animation {
    from {
        width: 1px;
        height: 1px;
    }
    to {
        width: 300px;
        height: 300px;
        opacity: 0;
    }
}